/* Change font to Arial for the web page */
body {
	font-family: Arial;
}

/* Center align headers */
.centered {
	text-align: center;
}

/* Flexbox container for children */
.container {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}

/* Style points selected through brushing */
.selected {
  opacity: 1 !important;
  stroke: orange;
  stroke-width: 2px;
}