/* Change font to Arial for the web page */
body {
	font-family: Arial;
}

/* Center align headers */
.centered {
	text-align: center;
}

/* Flexbox container for children */
.container {
  display: flex;
  flex-direction: row;
}


/* Children 1 that takes up 33% of the page */
#column1 {
	flex: 33%;
	flex-grow: 1;
}

/* Children 2 that takes up 33% of the page */
#column2 {
	flex: 33%;
	flex-grow: 1;
}

/* Children 3 that takes up 33% of the page */
#column3 {
	flex: 33%;
	flex-grow: 1;
}


.selected {
  opacity: 1 !important;
  stroke: black;
  stroke-width: 1px;
}